<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875038175338-fq0gg88aim7qrivjkukosh9gnm2bic0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875038175338-fq0gg88aim7qrivjkukosh9gnm2bic0q</string>
	<key>API_KEY</key>
	<string>AIzaSyAaWTO2odPu_APARqLEdQCWgemlLDqWKOA</string>
	<key>GCM_SENDER_ID</key>
	<string>875038175338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.co.icc.tigertracking</string>
	<key>PROJECT_ID</key>
	<string>tigertracking-tiger</string>
	<key>STORAGE_BUCKET</key>
	<string>tigertracking-tiger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875038175338:ios:ea910199b74ae183bbda13</string>
	<key>DATABASE_URL</key>
	<string>https://tigertracking-tiger.firebaseio.com</string>
</dict>
</plist>